<!--Start of navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Mongo scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved">Saved Articles</a>
      </li>
      <li><a class="btn btn-danger scrape-new">Scrape new article</a></li>
      </li>
    </ul>
    <nav class="navbar navbar-light bg-light">
</nav>
  </div>
</nav>
<!--End of Navbar-->

<!--Start of jumbotron-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Mongo Scraper</h1>
    <p class="lead">keeping you in touch.</p>
  </div>
</div>
<!--End of jumbotron-->

<div class="container-fluid article-container">
  
</div>


<!--Start of footer-->
<footer class="footer">
    <div class="container">
        <p>Project by Ismael Rivera.</p>
    </div>
</footer>
<!--End of footer-->

<!--scripts-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../../assets/javascript/index.js"></script>