html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 80px;
    background-color: rgb(79, 69, 69);
}

.footer {
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(42, 87, 221);
    
}

.navbar {
    margin-bottom: 0;
    font-size: 55px;
    background-color: aqua;
}

.btn-danger {
 height: 80px;
 width: 200px;
 text-align: center;
 font-size: 25px;
 box-shadow: 10px 5px 20px 2px lightslategray
 

}

.jumbotron {
    background-image: url("http://www.ie-wallpapers.com/data/out/168/36991494-newspaper-wallpaper.jpg");
    position: relative; 
    background-size: 70%;
    width: 100%;
    height: 650px;
    font-family: "Cormorant SC";
    text-align: center;
    font-size: 120px;
    color: rgb(247, 40, 40);
    padding: 0;
    box-shadow: 10px 5px 20px 2px lightslategray
}

.jumbotron .overlay {
    background: linear-gradient(#333, black);
    position: absolute;
    opacity:  0.7;
    z-index: auto;
    top: 0;
    left:0;

}